.paymentTypeWrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.paymentTypeImg {
  max-width: 24px;
}
