// @type
.curated {
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  min-width: 20.5rem;
  max-width: 20.5rem;
  overflow: hidden;
  margin: 0 var(--sp2) -0.3125rem var(--sp2);
}

.curated__img {
  height: 10.25rem;
  background-size: cover;
  background-position: center;
}

.curated__title {
  margin: var(--sp4) var(--sp3) var(--sp3) var(--sp3);
}

.curated__content {
  margin: 0 var(--sp3) var(--sp4) var(--sp3);

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
