.wrapper {
  padding: 0 var(--sp2);
}

.magPageWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  // gap: 0.5rem;

  & > a {
    width: calc(100% - var(--sp2));
    margin: var(--sp1);

    img {
      width: 100%;
      // padding: 1rem;
    }
  }
}

.magazineCard div:first-child {
  // height: 15rem;
}
