.wrapper {
  background-color: var(--c-nut2);
}

.footerTop {
  justify-content: center;
  text-align: center;
  max-width: var(--mw6);
  padding: 0 var(--sp3);
  margin: auto;

  display: grid;
  grid-row-gap: 0;

  // @media only screen and (min-width: 59.375rem) {
  grid-template-columns: 2fr 2fr 2fr;
  grid-column-gap: var(--sp3);
  text-align: left;
  // }
}

.company {
  line-height: 0;

  a {
    justify-content: center;

    @media only screen and (min-width: 59.375rem) {
      justify-content: start;
    }
  }
}

.explore {
  a {
    display: inline-flex;
    margin: 0 var(--sp2);
    line-height: 1.75rem;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.fromNews {
  // max-width: var(--mw1);
  text-align: left;
  a {
    display: block;
    line-height: 1.75rem;
    // margin-bottom: var(--sp1);
  }
}

.footerBottom {
  align-items: center;
  text-align: center;
  max-width: var(--mw6);
  padding: 0 var(--sp3);
  margin: auto;

  display: grid;
  grid-row-gap: var(--sp4);

  // @media only screen and (min-width: 59.375rem) {
  grid-template-columns: 2fr 2fr 1fr;
  grid-column-gap: var(--sp3);
  text-align: left;
  // }
}

.privacy {
  display: flex;
  justify-content: space-around;
}

.switch {
  // background-color: red;
  max-width: none;
  margin-bottom: 0;
  justify-content: flex-end;
}

.footerBookImg {
  width: 100%;
  background-image: url('/img/footerBg.svg');
  background-size: 100% 100%;
  display: block;
  // height: var(--sp4);

  // @media only screen and (min-width: 59.375rem) {
  height: var(--sp5);
  // }
}
.seals {
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 59.375rem) {
    justify-content: flex-end;
  }
}
