.magazine {
  display: inline-block;
  text-decoration: none;
  width: 13rem;
  overflow: hidden;
  margin: var(--sp2);
}

.magazine__title {
  margin: var(--sp3) var(--sp3) 0 var(--sp3);
}

.magazine__img {
  height: 17rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.magazine__content {
  margin: 0 var(--sp3) var(--sp3) var(--sp3);
}
