.magazine {
  display: block;
  max-width: 23rem;
  overflow: hidden;
  // width: calc(100% - var(--sp3));
  width: 60%;

  img {
    width: 100%;
  }
}

.magazine__title {
  margin: var(--sp2) var(--sp2) 0 var(--sp2);
  text-decoration: none;
}

.magazine__img {
  height: 13rem;
  background-size: 100% 100%;
  background-position: center;
}

.magazine__content {
  margin: 0 var(--sp2) var(--sp2) var(--sp2);
  text-decoration: none;
}
