.appliedSearchFiltersWrapper {
  overflow: scroll;
}

.appliedSearchFilters {
  display: block;
  white-space: nowrap;

  & div,
  & a,
  & small {
    display: inline-block;
  }

  &:focus-within,
  &:hover {
    opacity: 1;
  }
}

.searchResultActions {
  // opacity: 0.7;

  &:focus-within,
  &:hover {
    opacity: 1;
  }
}

.saveSearch {
  // opacity: 0.7;
  border-right: 1px solid var(--c-nut5);
  padding-right: var(--sp3);
  margin-right: var(--sp3);

  svg {
    margin-left: 0;
  }
}

.keyWordsWrapper {
  animation: fadein ease-out 1s;
}

@keyframes fadein {
  0% {
    margin-left: -1rem;
  }
  50% {
    margin-left: -6rem;
  }
  100% {
    margin-left: -1rem;
  }
}
