.backDrop {
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow-y: scroll;
}

.wrapper {
  &.left {
    left: 0;
    max-width: calc(100% - var(--sp6));
  }

  &.right {
    right: 0;
  }

  &.center {
    height: unset;
    margin: 10% auto;
    border-radius: var(--radius-1);
  }

  &.bottom {
    margin-top: 30vh;
    position: absolute;
    width: 100%;
    border-radius: var(--radius-2) var(--radius-2) 0 0;
  }
}

.refineSearchBtnClose {
  margin-bottom: -3.5rem;
  position: sticky;
  margin-left: calc(100% - 3rem);
  width: 3rem;
  padding-top: 1rem;
  cursor: pointer;
  bottom: var(--sp2);
  z-index: 9;

  &.none {
    display: none;
  }

  &.left {
    margin-left: calc(100% - -3rem);
    top: 0;
    height: 4rem;
  }

  &.right {
    left: var(--sp2);
  }

  &.center {
    top: -40px;
    position: relative;
  }

  &.bottom {
    // top: var(--sp3);
    top: 0;
    right: var(--sp3);
    bottom: auto;
  }
}

.fullHeight {
  min-height: 100%;
}
