.headerContainer {
  z-index: 2;
  position: relative;
  width: 100%;
}

.searchContainer {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 100%;
  max-width: 8.375rem;
}

.userProfile span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 92px;
}
