// @type

.wrapper {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.content {
  overflow: hidden;
}
.readMoreWrapper {
  box-shadow: 0 -5px 6px 3px var(--c-nut1);
  position: relative;
}
