.wrapper {
  padding: var(--sp4);
  background-color: var(--c-white);
  border-radius: var(--radius-1);
  max-width: var(--mw1);

  .price {
    font-family: var(--f-title);
    font-size: 4rem;
    font-weight: bold;
    color: var(--c-primary);
    line-height: 48px;
  }

  .currency {
    font-family: var(--f-title);
    font-size: 1rem;
    font-weight: bold;
    color: var(--c-primary);
  }

  .bases {
    color: var(--c-nut6);
  }

  .offer {
    font-size: var(--fs-5);
    color: var(--c-primary);
  }

  .full__payment ins,
  .full__payment span {
    font-size: var(--fs-5);
    color: var(--c-primary);
  }

  .full__payment del {
    font-size: var(--fs-5);
    color: var(--c-nut6);
  }
}
