.wrapper {
  max-width: 10rem;
  padding: 1rem;
}

.wrapperInner {
  margin: auto;
}

.arrow {
  text-align: center;

  svg {
    width: 3rem;
    height: 3rem;
  }
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
